.icon123 {
  transition: transform 0.2s;
}

.icon123:hover {
  transform: translate(0px, -20px) scale(1.1);
}

.selected123 {
  transform: translate(0px, -20px) scale(1.1);
}

.selected123 > div > h4 {
  font-weight: 1200;
  color: red;
}
