.foobar .webshop123 {
  visibility: hidden;
  transition: transform 0.2s;
}

@media (hover: none) {
  .foobar .webshop123 {
    visibility: visible;
  }
}

.foobar:hover .webshop123 {
  visibility: visible;
}

.foobar .webshop123:hover {
  transform: translate(0px, -10px) scale(1.05);
}
